[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
jupyter = "*"
requests = "*"
pytest = "*"
tk = "*"
rocket-space-stuff = "*"

[dev-packages]

[requires]
python_version = "3.10"
